.bar.bar-stable {
  background: black;
}

.bar.bar-stable .title, .bar-stable .button.button-icon, .bar-stable .button.button-clear {
  color: white;
}

.scroll-content, .item-complex .item-content, .item-radio .item-content {
  background: #FBF3E1;
}

.button.button-positive {
  background: #ea4b25;
  border-color: black;
}

.button.button-positive.activated {
  background: #f6b1a1;
  border-color: black;
}
